*{
    font-family: 'Roboto', sans-serif;  
    
}
body{
    background-image: url("../images/fondo4.jpg");
    background-color: aqua;
    background-size: cover;
}
#divtotal{
    width: 600px;
    margin:auto;
}
#resultado{
    font-size:2em;
}
form{
    margin-top: 3em;
    padding-right: 100px;
    padding:1em;
    font-size: 1.2em;
    background-size: 3em;
    background-image: url("../images/azul3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 55px 52px 42px 42px;
    border-radius: 55px 52px 42px 42px;
}
#button {
    border: 1px solid #0a3c59;
    background: #0a5cff;
    background: -webkit-gradient(linear, left top, left bottom, from(#03c4ff), to(#0a5cff));
    background: -webkit-linear-gradient(top, #03c4ff, #0a5cff);
    background: -moz-linear-gradient(top, #03c4ff, #0a5cff);
    background: -ms-linear-gradient(top, #03c4ff, #0a5cff);
    background: -o-linear-gradient(top, #03c4ff, #0a5cff);
    background-image: -ms-linear-gradient(top, #03c4ff 0%, #0a5cff 100%);
    padding: 7.5px 15px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 #button:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #0386eb;
    background: -webkit-gradient(linear, left top, left bottom, from(#003df5), to(#0386eb));
    background: -webkit-linear-gradient(top, #003df5, #0386eb);
    background: -moz-linear-gradient(top, #003df5, #0386eb);
    background: -ms-linear-gradient(top, #003df5, #0386eb);
    background: -o-linear-gradient(top, #003df5, #0386eb);
    background-image: -ms-linear-gradient(top, #003df5 0%, #0386eb 100%);
    color: #fff;
}
 #button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #0889fa;
    background: -webkit-gradient(linear, left top, left bottom, from(#0f7bff), to(#0386eb));
    background: -webkit-linear-gradient(top, #0f7bff, #0889fa);
    background: -moz-linear-gradient(top, #0f7bff, #0889fa);
    background: -ms-linear-gradient(top, #0f7bff, #0889fa);
    background: -o-linear-gradient(top, #0f7bff, #0889fa);
    background-image: -ms-linear-gradient(top, #0f7bff 0%, #0889fa 100%);
    color: #fff;
}


